#First draft still needs testing
name: GitHub Actions Volpiano


on:

  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]
      
  workflow_dispatch:

jobs:
  build-n-publish:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]
    steps:
     - name: Publish package
       if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
       uses: pypa/gh-action-pypi-publish@release/v1
       with:
         user: __token__
         password: ${{ secrets.PYPI_API_TOKEN }}
